/* ===== public/css/licenses.css ===== */

/* ===== Header ===== */
.header {
    background: linear-gradient(to right, #0a4bff, #7398ff, #0a4bff);
    padding: 1rem 1.5rem;
    height: 4rem;
    display: flex;
    border-bottom: 1px solid #e5e7eb;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    justify-content: space-between;
    border-radius: 0.5rem;
}

/* ===== Card Kosong ===== */
.licenses-empty-card {
    background: white;
    border-radius: 0.75rem;
    border: 1px solid #f3f4f6;
    padding: 1.5rem;
    color: #6b7280;
    margin-top: 1.5rem;
}

.footer {
    background-color: #ffd000;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: #000000;
}